<!doctype html>
<html lang="en">
<head>

   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {% if title %}
    <title>{{ title }} - Open Apprentice </title>
    {% else %}
    <title>Open Apprentice</title>
    {% endif %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

</head>

<body>

        <!-- Navigation -->
         <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <div class="container-fluid">
                  <div class="row">
                                <a class="navbar-brand" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/logofinal.png') }}" width="auto" height="126.66" alt="Open Apprentice Magpie Logo"></a>
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                                  <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarResponsive">
                                  <ul class="navbar-nav ml-auto">
                                      <li class="nav-item active">
                                        <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" href="{{ url_for('blog') }}">Blog</a>
                                      </li>
                                       <li class="nav-item">
                                           {% if current_user.is_anonymous %}
                                           <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                                           {% else %}
                                           <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                                           {% endif %}

                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" href="{{ url_for('about') }}">About</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
                                      </li>
                                  </ul>
                                    <form class="form-inline my-2 my-lg-0">
                                      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                                    </form>
                                </div>
                  </div>
              </div>
         </nav>



    <!-- Page Content -->
<div class="container-fluid">
    <div class="row">

        <div class="col-8 mx-auto">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        </div>

    </div> <!--ROWE -->
</div> <!--CONTAINER FLUID -->



  {% block content %}{% endblock %}


<div class="container-fluid">
    <div class="row">
        <div class="col-2"><H3>Social Media and Contact</H3></div>
        <div class="col-8">
            <h3>Latest Posts</h3>
            {% for post in posts %}
            <h2>{{ post.postitle }}</h2>
            <h3>Written by: {{ post.author.username }}</h3>
            {% endfor %}

        </div>
        <div class="col-2"><h3>Contact Us</h3></div>
    </div>
</div> <!--CONTAINER FLUID -->



<!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container-fluid">
          <div class="row">
        <p class="m-0 text-center text-white">Copyright &copy; OpenApprentice 2018</p>
          </div>
      </div><!--CONTAINER FLUID -->
    </footer>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>